body {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Poppins", sans-serif;
}
.gradient-divider {
  background: #2193b0;
  background: -webkit-linear-gradient(to left #fa3737, #f403fc);
  background: linear-gradient(to left, #fa3737, #f403fc);
  height: 2vh;
}

.background-img {
  background: url("./background.png");
  background-repeat: repeat;
  background-size: cover;
}

header {
  min-height: 78vh;
}

.main-nav {
  height: 12vh;
}

.scheduler {
  width: 80%;
  min-height: 350px;
}

.navbar-brand {
  text-decoration: none;
  color: black;
}

.navbar-brand:hover {
  text-decoration: none;
  color: black;
}

.login-button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #b400ba;
  text-align: center;
  transition: all 0.15s;
  background-color: transparent;
  border-color: #b400ba;
}
.login-button:hover,
.login-button:focus {
  outline: solid;
  outline-color: #04d112;
  outline-width: 0.08rem;
  background-color: #deffe0;
}
.login-button:active {
  outline: solid;
  outline-color: #04d112;
  outline-width: 0.08rem;
}

a:hover {
  text-decoration: none;
  color: #04d112;
}

.brand-name {
  letter-spacing: 3px;
  color: #b400ba;
  font-weight: 700;
  text-transform: uppercase;
}
